@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./Fonts/WEB/css/switzer.css');

body {
  margin: 0;
  font-family: Switzer-Variable,Switzer-Light, Switzer-ExtralightItalic,Switzer-Regular,Switzer-Medium ,Switzer-MediumItalic,Switzer-Semibold,Switzer-SemiboldItalic,Switzer-Bold,Switzer-BoldItalic;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x:hidden;
}



